<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/public/stylesheets/main.css'>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js" defer></script>

    {{#if scriptFiles}}
        {{#each scriptFiles}}
            <script src="/public/scripts/{{this}}.js" defer></script>
        {{/each}}
    {{/if}}
    <title>SurReal Estate</title>
    <meta name="description" content="The main template for the SurReal Estate app">
</head>
<body>
<header>
    <hgroup>
        <h1>SurReal Estate</h1>
        <p>The go-to website to find real estate listings</p>
    </hgroup>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {{#if loggedUserInfo}}
                {{#with loggedUserInfo}}
                    <li>
                        <!--TODO: Hide Log Out option when visitor is not authenticated-->
                        <a href="/">{{username}} - Role: {{role}}</a>
                    </li>
                {{/with}}
                <li>
                    <!--TODO: Hide Log Out option when visitor is not authenticated-->
                    <a href="/logout">Log Out</a>
                </li>
            {{else}}
                <li>
                    <!--TODO: Hide Sign Up option when visitor is authenticated-->
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <!--TODO: Hide Log In option when visitor is authenticated-->
                    <a href="/login">Log In</a>
                </li>
            {{/if}}
        </ul>
    </nav>
</header>
<hr>
{{{body}}}
<hr>
<footer>
    <p>Contact Us:</p>
    <address>
        Address: 50 Main St
        <br>
        <a href="tel:+14126890000">+1 (412) 689-0000</a>
    </address>
</footer>
</body>
</html>