<!--Section that displays all the real estate listings in the site-->
<main id="home-page">
    <header id="home-header">
        <search>
            <!--Search fields here-->
            <form action="/" method="get" id="get-listing-form">
                <details>
                    <summary>Price Range</summary>
                    <fieldset class="min-max-range">
                        <label>Min
                            <input type="number" name="minPrice" id="minPrice" value="0" min="0" max="10000000"
                                   required>
                        </label>
                        <label>Max
                            <input type="number" name="maxPrice" id="maxPrice" value="100000" min="0" max="10000000"
                                   required>
                        </label>
                    </fieldset>
                </details>
                <details>
                    <summary>Square Feet Range</summary>
                    <fieldset class="min-max-range">
                        <label>Min
                            <input type="number" name="minSqft" id="minSqft" value="0" min="0" max="100000" required>
                        </label>
                        <label>Max
                            <input type="number" name="maxSqft" id="maxSqft" value="100000" min="0" max="100000"
                                   required>
                        </label>
                    </fieldset>
                </details>
                <label>Bedrooms
                    <select name="minNumBeds" required>
                        <option value="0">Any</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                    </select>
                </label>
                <label>Bathrooms
                    <select name="minNumBaths" required>
                        <option value="0">Any</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                    </select>
                </label>
                <details>
                    <summary>Amenities</summary>
                    <fieldset>
                        <label> Garage
                            <input type="checkbox" name="hasGarage" value="true">
                        </label>
                        <br>
                        <label> Terrace
                            <input type="checkbox" name="hasTerrace" value="true">
                        </label>
                    </fieldset>
                </details>
                <button type="submit">Search</button>
            </form>
        </search>
        <!--TODO: Hide the Create Property Element for visitors and general users. It should be visible only to authenticated realtor users-->
        <a href="/listings/new" class="nav-button">Create Property</a> <!--Makes a client/browser GET request to the 'listings/new' route or endpoint-->
        <!--Check if the listings variable has data. If not, return a non-listings message-->
    </header>
    <section id="listings-grid">
    {{#if listings}} <!--Renders the block if listings evaluates to a truthy value. '#unless' would render if it evaluates to a falsy value -->
        {{#each listings}} <!--'each' is a handlebar helper that allows you to iterate over an ARRAY, allowing you to
        access the array elements with the 'this' keyword-->
            <!--Iterate over each listing-->
            <article>
                <!--A specific listing-->
                <h3>
                    {{#if location.latitude}}
                        <a href="/listings/{{_id}}" class="listing-coordinates"
                           data-lat="{{location.latitude}}" data-lng="{{location.longitude}}">{{location.address}}</a>
                    {{else}}
                        <a href="/listings/{{_id}}">{{location.address}}</a>
                    {{/if}}

                </h3>
                <img src="/public/uploads/{{photo}}" alt="{{location.address}} img">
            </article>
        {{/each}}
    {{else}}
        <p>No listing found. Please adjust filter criteria.</p>
    {{/if}}
    </section>
    <aside id="listingHistorySection"></aside>
    <div id="map"></div>
</main>
