<!--Section that displays a single listing from the site-->
<section id="listing-page">
    <main id="listing">
        <article>
            <h2>{{listing.location.address}}</h2>
            <img src="../../public/uploads/{{listing.photo}}" alt="{{listing.location.address}} img">
            <address>
                <p>Address: {{listing.location.address}}, {{listing.location.city}}, {{listing.location.state}}, {{listing.location.zip}}</p>
                <p>List Price: {{listing.listingPrice}}</p>
                <p>Square Feet: {{listing.sqft}}</p>
                <p>Number of Bedrooms: {{listing.numBeds}}</p>
                <p>Number of Bathrooms: {{listing.numBaths}}</p>
                <p>Includes Garage: {{listing.hasGarage}}</p>
                <p>Includes Terrace: {{listing.hasTerrace}}</p>
            </address>
        </article>
        <!--Dashboard with info here-->
    </main>
    <aside>
        <section id="deposit">
            <h2>Make a Deposit</h2>
            <form action="/listings/listingId/deposit/new" method="post">
                <label>Deposit Amount:
                    <input type="number" min="1" required>
                </label>
                <button type="submit">Make Deposit</button>
            </form>
        </section>
        <section id="onsite-visit">
            <h2>Book an Onsite Visit</h2>
            <form action="/listings/listingId/visit/new" method="post">
                <label>Visit Date:
                    <input type="date" required>
                </label>
                <button type="submit">Book Visit</button>
            </form>
        </section>
        <section id="comments">
            <h2>Comments</h2>
            <form action="/listings/listingId/comments/new" method="post">
                <label>Post a comment on this property:
                    <textarea name="comment" rows="2" cols="40" required></textarea>
                </label>
                <br>
                <button type="submit">Post Comment</button>
            </form>
            <section id="listing-comments">
                <ul>
                    <!--Unordered List of comments, each enclosed in an <article> tag-->
                </ul>
            </section>
        </section>
        <section id="messages">
            <form action="/listings/listingId/messages/new" method="post">
                <label>Send a message to the real estate agent:
                    <textarea name="message" rows="2" cols="40" required></textarea>
                </label>
                <br>
                <button type="submit">Send Message</button>
            </form>
            <section id="listing-messages">
                <ul>
                    <!--Unordered List of messages, each enclosed in an <article> tag-->
                </ul>
            </section>
        </section>
    </aside>
</section>